<style>
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
    </style>

<div class="background1">

    <div class=" w-100 d-flex dresponsive">

        <div class="principalFF mresponsive">
            <h1 class="text-light fstitle"> Hey There!</h1> 
            <h1 class="text-light fstitle"> I am Jairo Hernandez,</h1> 
            <h1 class="text-warning fstitle"> Industrial Engineer and Web/Software Developer</h1>

        </div>
        <div class="backgrounds">
            <img class="imagej" src="/assets/img/Jairo Hernandez.JPG" alt="">
        </div>

    </div>

</div>
