.principalFF {
    font-family: 'Playfair Display', serif;
}

.mediasize {
    width: 50px !important;

}

.hover1:hover{
    color: #159e4f !important;
}

/*Aplicacion de media queries para el responsive del eslogan y el parrafo*/
@media (min-width: 980px) {
    
    
    
}

@media (max-width: 980px) {
  /*   .jcontent{
        width: 100%;
        display: flex;
        margin: 40px;

     
    } */

}