<!-- #2b2a2f -->
<!--Estilo de letra-->
<style>
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
    </style>
<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid d-flex flex-column mb-3">
        <div class="m-4 jcontent">
            <a class="navbar-brand principalFF fs-1 text-center text-warning" href="#">Jairo Hernandez</a>
            <button class="navbar-toggler p-3 ms-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        </div>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav fs-5 ">
           <!--  [routerLink]="['/home']" -->
          <a class="nav-link active text-light principalFF mx-3 hover1" href="#">Education</a>
          <a class="nav-link active text-light principalFF mx-3 hover1" href="#">Experience</a>
          <a class="nav-link active text-light principalFF mx-3 hover1" href="#">Certifications</a>
          <a class="nav-link active text-light principalFF mx-3 hover1" href="#">Technologies</a>
        </div>
      </div>

<!--       <div class="">
        <a href=""> <img class="mediasize" src="/assets/img/github (1).png" alt=""></a>
        <a href=""> <img class="mediasize" src="/assets/img/linkedin (3).png" alt=""></a>
        <a href=""> <img class="mediasize" src="/assets/img/whatsapp (3).png" alt=""></a>
        <a href=""> <img class="mediasize" src="/assets/img/llamada-telefonica.png" alt=""></a>
      </div> -->
    </div>

  </nav>