.backcolor {
    background-color: white;
}

@media (min-width: 980px) {
    .bantitlestyle{
        margin: 30px;
        padding: 90px;
    }
    
    .displine {
        display: inline;
    }

}

@media (max-width: 980px) {
    .bantitlestyle{
        margin: 30px;
        padding: 10px;
    }
    
    .displine {
        display: inline;
    }

    .fontsres{
        font-size: 13px;

    }

    
}