<div class="backcolor">
    <div>
        <h2 class="principalFF bantitlestyle fontsres">
            “ I am <h2 class="text-warning displine fontsres">Industrial Engineer</h2> and <h2 class="text-warning displine fontsres">Software/Web Developer</h2>  Full stack with strong problem-solving skills, excellent job performance in teams, oriented to continuous improvement
            and sustainable development. Leader in optimization and innovation of processes through technological transformations. Relevant experience in Project Management, 
             Systems Innovation, Quality Assurance and Requirements for Software/Web Developments. English and Spanish Speaker. ”
        </h2>
    </div>
</div>
